
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: -apple-system, "Inter", system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --background: #ffffff;
  --paper: #f5f5fa;
  --text-primary: #000;
  --text-secondary: #484c7a;
  --text-light: #FFF;
  --text-link: #656fff;
  --light-grey: #e6e6e6;
  --input-border: #656fff;
  --input-shadow: 0 0 0 3px #d4d6f2;
}
