
.root {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 100px;
}

.root h1 {
  color: var(--text-light);
  font-weight: 900;
  font-size: min(16vw, 200px);
  text-align: center;
  font-family: -apple-system, system-ui, sans-serif;
  user-select: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.modal-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal {
  background: linear-gradient(var(--background), var(--paper));
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(45,35,66,.35),0 7px 13px -3px rgba(45,35,66,.25);
  max-width: 550px;
  padding: 20px;
  position: relative;
}

.modal__title {
  align-items: center;
  border-bottom: solid 1px var(--light-grey);
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.modal__title h2 {
  font-family: monospace;
  font-size: 30px;
  margin-left: 10px;
}
.modal__subtitle {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.modal__subtitle p {
  color: var(--text-secondary);
  font-family: monospace;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .modal__title h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .modal__title h2 {
    font-size: 18px;
  }
  .modal__subtitle p {
    font-size: 12px;
  }
}
@media screen and (max-width: 350px) {
  .modal__title h2 {
    font-size: 14px;
  }
  .modal__subtitle p {
    font-size: 10px;
  }
}

.pulse-dot {
  animation: pulse 2s infinite;
  background: rgba(51, 217, 178, 1);
  border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  flex-shrink: 0;
  height: 20px;
  margin: 10px;
  transform: scale(1);
	width: 20px;
}

@media screen and (max-width: 500px) {
  .pulse-dot {
    height: 15px;
    margin: 5px;
    width: 15px;
  }
}
@media screen and (max-width: 350px) {
  .pulse-dot {
    height: 10px;
    width: 10px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
		transform: scale(0.95);
	}

	70% {
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
		transform: scale(1);
	}

	100% {
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
		transform: scale(0.95);
	}
}

.totals {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  font-family: monospace;
}
.totals .title {
  font-size: 16px;
  font-weight: 600;
}
.totals .number {
  font-size: 25px;
}
.totals .separator {
  height: 25px;
}

.inputs {
  margin: 25px 0;
}
.inputs input {
  -moz-appearance: textfield;
}
.inputs input::-webkit-inner-spin-button
.inputs input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.input-title {
  color: var(--text-secondary);
  font-family: monospace;
}

.arrow {
  color: var(--text-secondary);
  font-family: monospace;
  font-size: 40px;
  line-height: 40px;
  margin: 5px 0;
  opacity: 0.5;
  text-align: center;
  user-select: none;
}

.input-wrapper {
  position: relative;
}
.input-wrapper span {
  align-items: center;
  bottom: 0;
  color: var(--text-secondary);
  display: flex;
  font-family: monospace;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.5;
  position: absolute;
  right: 20px;
  top: 0;
  user-select: none;
}

.connect-button {
  display: grid;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 500px) {
  .totals,
  .buttons {
    grid-template-columns: 1fr;
  }
}

.transactions {
  margin-top: 25px;
}
.transactions .title {
  color: var(--text-secondary);
  font-family: monospace;
}

.transaction {
  display: flex;
  font-family: monospace;
  justify-content: space-between;
  margin: 5px 0;
}

.notes p {
  border-top: solid 1px var(--light-grey);
  color: var(--text-secondary);
  margin-top: 25px;
  padding-top: 25px;
}

.notes p:last-child {
  border-bottom: solid 1px var(--light-grey);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.loader-wrapper {
  position: fixed;
  top: calc(50vh - 40px);
  left: calc(50vw - 40px);
  right: calc(50vw - 40px);
  bottom: calc(50vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
